<div class="search-container">
  <div class="search-box">
    <button
      class="search-engine-button search-engine-toggle"
      type="button"
      title="选择搜索引擎"
      aria-label="选择搜索引擎"
      aria-haspopup="menu"
      aria-controls="search-engine-dropdown"
      aria-expanded="false"
    >
      <i class="search-engine-icon search-engine-icon-svg" aria-hidden="true">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 256" focusable="false">
          <g fill="#2877fb" fill-rule="nonzero">
            <g transform="scale(5.12,5.12)">
              <path
                d="M45,26.10156v-5.10156c0,-0.89844 -0.60156,-1.69922 -1.39844,-1.89844l-4.60156,-1.40234c-5.30078,-1.59766 -10.30078,-3 -15.60156,-4.69922h-0.09766c-0.80078,-0.19922 -1.60156,0.69922 -1.19922,1.5c1.89844,3.89844 3.89844,9.5 3.89844,9.5l6.69922,2.60156c-0.30078,0 -21.69922,11.39844 -21.69922,11.39844l9,-8v-23c0,-0.89844 -0.60156,-1.80078 -1.39844,-2c0,0 -4.90234,-1.89844 -8,-2.89844c-0.20312,-0.10156 -0.40234,-0.10156 -0.60156,-0.10156c-0.39844,0 -0.80078,0.10156 -1.19922,0.39844c-0.5,0.40234 -0.80078,1 -0.80078,1.60156v34.69922c0,0.69922 0.30078,1.30078 0.89844,1.60156c2.10156,1.5 4.30078,3 6.40234,4.5l3,2.09766c0.30078,0.20313 0.69922,0.40234 1.09766,0.40234c0.40234,0 0.70313,-0.10156 1,-0.30078c4.30078,-2.60156 8.70313,-5.19922 13,-7.80078l10.60156,-6.30078c0.60156,-0.39844 1,-1 1,-1.69922z"
              ></path>
            </g>
          </g>
        </svg>
      </i>
      <span class="search-engine-label">Bing</span>
    </button>

    <input
      type="text"
      id="search"
      placeholder="Search"
      aria-label="搜索"
      aria-keyshortcuts="Control+K Meta+K"
    />
    <span class="search-shortcut-hint" aria-hidden="true">Ctrl+K</span>

    <div
      class="search-engine-dropdown"
      id="search-engine-dropdown"
      role="menu"
      aria-label="搜索引擎列表"
    >
      <button
        class="search-engine-option"
        type="button"
        role="menuitem"
        data-engine="local"
        title="本地搜索"
      >
        <i class="search-engine-option-svg" aria-hidden="true">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48" focusable="false">
            <path fill="#616161" d="M29.171,32.001L32,29.172l12.001,12l-2.828,2.828L29.171,32.001z"
            ></path>
            <path
              fill="#616161"
              d="M36,20c0,8.837-7.163,16-16,16S4,28.837,4,20S11.163,4,20,4S36,11.163,36,20"></path>
            <path fill="#37474f" d="M32.476,35.307l2.828-2.828l8.693,8.693L41.17,44L32.476,35.307z"
            ></path>
            <path
              fill="#64b5f6"
              d="M7,20c0-7.18,5.82-13,13-13s13,5.82,13,13s-5.82,13-13,13S7,27.18,7,20"></path>
          </svg>
        </i>
        <span class="search-engine-option-label">本地搜索</span>
      </button>
      <button
        class="search-engine-option"
        type="button"
        role="menuitem"
        data-engine="google"
        title="Google搜索"
      >
        <span class="search-engine-option-label">Google</span>
      </button>
      <button
        class="search-engine-option"
        type="button"
        role="menuitem"
        data-engine="bing"
        title="Bing搜索"
      >
        <span class="search-engine-option-label">Bing</span>
      </button>
      <button
        class="search-engine-option"
        type="button"
        role="menuitem"
        data-engine="duckduckgo"
        title="DuckDuckGo搜索"
      >
        <span class="search-engine-option-label">DuckDuckGo</span>
      </button>
    </div>
  </div>
</div>
